* {
    color: black;

}

#Am-Pm {
    color: red;
}

/*
.locations {
    width: 30%; 
    margin: 3%;
}*/

li {
    background-color: aliceblue ;
    color: black;
}

/*
var imgUrl = "http://openweathermap.org/img/wn/" + iconCode + "@2x.png"
console.log(imgUrl);
*/