*{
    font-family: 'Spartan', sans-serif;
}

.display-3 {
    font-size: 3.5rem;
}

.weatherVar{
    display: flex;
    justify-content: space-between;
}

.mainContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#searchBlock{
    width: 40%;
}

#searchBlock ol {
    text-align: center;
    padding-left: 0%;
    padding-top: 1%;
}

.searchField {
    display: flex;
    flex-direction: column;
}

#searchInput  {
    width: 100%;
}

li {
    background-color: aliceblue ;
    color: black;
    list-style: none;
    margin: 2% 0%;
}

.btn-success{
    margin: 3%;
    width: 94%;
}

.newSearch{
    color: black;
}

#currentDay{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#currentDay #uvi span {
    color: white;
    padding: 2%;
    border-radius: 20px;
}

#futureWeather{
    display: flex;
    flex-direction: row;
}

#futureWeather h4{
    align-self: flex-start;
}

h5{
    margin: 4%;
}

#futureWeather div{
    background-color: rgb(2, 122, 197);
    color: white;
    margin: 1%;
    border-radius: 10px;
    padding-right: 2%;
}

.fiveDay{
    display: none;
}

.low{
    background-color: green;
}

.moderate{
    background-color: rgb(226, 204, 3);
}

.high {
    background-color: orange;
}

.vHigh{
    background-color: red;
}

.eHigh{
    background-color: royalblue;
}

._01d{
    background-image: url("http://openweathermap.org/img/wn/01d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._02d{
    background-image: url("http://openweathermap.org/img/wn/02d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._03d{
    background-image: url("http://openweathermap.org/img/wn/03d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._04d{
    background-image: url("http://openweathermap.org/img/wn/04d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._09d{
    background-image: url("http://openweathermap.org/img/wn/09d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._10d{
    background-image: url("http://openweathermap.org/img/wn/10d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._11d{
    background-image: url("http://openweathermap.org/img/wn/11d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._13d{
    background-image: url("http://openweathermap.org/img/wn/13d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._50d{
    background-image: url("http://openweathermap.org/img/wn/01d@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._01n{
    background-image: url("http://openweathermap.org/img/wn/01n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._02n{
    background-image: url("http://openweathermap.org/img/wn/02n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._03n{
    background-image: url("http://openweathermap.org/img/wn/03n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._04n{
    background-image: url("http://openweathermap.org/img/wn/04n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._09n{
    background-image: url("http://openweathermap.org/img/wn/09n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._10n{
    background-image: url("http://openweathermap.org/img/wn/10n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._11n{
    background-image: url("http://openweathermap.org/img/wn/11n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._13n{
    background-image: url("http://openweathermap.org/img/wn/13n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

._50n{
    background-image: url("http://openweathermap.org/img/wn/01n@2x.png");
    padding: 20%;
    max-width: 1%;
    background-size: contain;
    object-fit: contain;
}

@media screen and (max-width: 991px) {

  

    #searchBlock{
        width: 80%;
        margin: 2%;
    }

    #currentDay{
        width: 80%;
    }

    h5 {
        display: none;
    }

    #futureWeather{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 767px) {

    .weatherVar{
        flex-direction: column;
    }

    #currentDay {
        flex-direction: row;
        margin-top: 17%;
        margin-bottom: 5%;
    }

}